@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap');

@import "tailwindcss";

:root {
    /* color */
    --blue-dk: #0A006E;
    --blue-md: #1100C0;
    --blue-lt: #1502e6;
    --blue-sm: #4434fd;

    /* font */
    --font1: "Poppins", sans-serif;
    --font2: 'Times New Roman';
    --font2-style: italic;
    --font2-lg: 60px;
    --font2-sm: 32px;
}

/* clean-up */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
    transition: all ease-in-out;
}

html{
    scroll-behavior: smooth;
}


@layer utilities {
    .font2 {
        font-family: var(--font2);
        font-style: var(--font2-style);
        font-weight: bold;
    }

    .font2-lg {
        font-size: var(--font2-lg);
    }

    .font2-sm {
        font-size: var(--font2-sm);
    }


    .blue-dk {
        color: var(--blue-dk);
    }

    .blue-md {
        color: var(--blue-md);
    }

    .blue-lt {
        color: var(--blue-lt);
    }

    .bg-blue-dk {
        background-color: var(--blue-dk);
    }

    .bg-blue-md {
        background-color: var(--blue-md);
    }

    .bg-blue-lt {
        background-color: var(--blue-lt);
    }

    .box-shadow {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: 0.5px solid rgb(214, 214, 214);
        border-radius: 10px;
    }

    .title-line {
        background-color: var(--blue-dk);
        width: 100px;
        height: 3px;
        margin-top: -3px;
        color: transparent;
        animation: grow-line 2s forwards 1s ease-in-out;
    }
}

.box-shadow:hover,
.box-shadow:focus {
    box-shadow: rgba(7, 2, 255, 0.44) 3px 8px 15px;

    border: 0.2px solid rgb(73, 45, 255);
    scale: 102%;
}

@media screen and (max-width: 639px) {
    .box-shadow:hover,
    .box-shadow:focus {
        box-shadow: rgba(7, 2, 255, 0.44) 3px 8px 15px;
    
        border: 0.2px solid rgb(73, 45, 255);
        /* scale: 82%; */
    }
}

@keyframes grow-line {
    0% {
        width: 0px;
    }

    50% {
        width: 50px;
    }

    100% {
        width: 100px;
    }
}