.header_content h1 {
    line-height: 65px;
}

@media screen and (max-width: 639px) {
    .header_content h1 {
        line-height: 35px;
    }

}

.cross-divider {
    color: transparent;
    background-color: var(--blue-md);
    height: 260px;
    width: 4px;
    border-radius: 5px;
}

@media screen and (max-width: 639px) {
    .cross-divider {
        width: 280px;
        height: 4px;
        margin: 20px 0;
    }
}


.subscribe-form input {
    border: dashed var(--blue-md);
    /* width: 50%; */
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
}

.subscribe-form button {
    background-color: var(--blue-dk);
    color: white;
    height: 40px;
    padding: 0px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-form button:hover {
    background-color: var(--blue-md);
    scale: 102%;
}